img.thumbnail {
  width: 100px;
  height: 100px;
  justify-self: flex-start;
  margin-right: 20px;
}

.product {
  margin-top: 5px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}
.product-link {
  padding: 0;
  margin: 0;
}
#products {
  background-color: rgb(236, 232, 232);
}

.product-user-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .product-user {
  display: flex;
  flex-direction: column;
  align-items: space-around;
} */

.username {
  font-size: 12pt;
}

.price {
  justify-self: flex-end;
}

.product:hover {
  background-color: gray;

  /* border-radius: 100px; */
  color: white;
}
