/* TODO Add site wide styles */
h1 {
  font-size: 30pt;
  text-align: center;
}

p {
  font-size: 20pt;
}

body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 45px;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(90deg, lightgray 0%, gray 50%); */
}
