/* TODO Add site wide styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30pt;
  text-align: center;
}

p {
  font-size: 20pt;
}

body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  /* /* background: rgb(2, 0, 36); */
  /* background: linear-gradient(180deg, lightgray 0%, white 80%); */
  /* background: linear-gradient(180deg, rgba(211, 211, 211, 1) 4%, rgba(255, 255, 255, 1) 10%); */
  background-color: lightgray;
}

form {
  /* border: 1px solid black; */
  border: 2px solid gray;
}

input,
textarea {
  box-shadow: inset 1px 1px 1px black;
  /* border: 1px solid black; */
}

button {
  background-color: lightgray;
  box-shadow: 1px 1px black;

}

button:focus,
li:focus {
  outline: 1px dotted gray;
  outline-offset: -5px;
}

li:hover {
  background-color: darkblue;
  color: white;
}
